body {
  background-image: url("../../assets/login.png");
}

.login-container {
  align-items: center;
}

.paper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper img{
  margin-bottom: 90px;
}

.login-container {
  margin-top: 90px;
}

.abas {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFF;
}

.MuiAppBar-colorPrimary {
  background-color: rgba(255, 255, 255, 0) !important;
}

span.MuiTabs-indicator {
  background-color: #8A29BE !important;
}

button.sign-in {
  width: 400px;
  height: 60px;
}

.MuiTabs-flexContainer button {
  background: #FFFF !important;
  border: 0;
  color: #8A29BE !important;
  font-size: 34px !;
  font-weight: bold;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

Link {
  text-decoration: none;
  color: #8A29BE;
  transition: opacity 0.2s;

}

Link:hover {
  opacity: 0.8;
}