
.register-container {
  margin-top: 80px;
}

.logo-register {
  margin-left: 90px;
}

.form-register{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-register {
  width: 100%;
  max-width: 500px;
  padding: 15px 50px 50px 50px;
}

.btn {
  margin: 40px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

Button.sign-up {
  border: 0;
  font-size: 18px;
  font-weight: bold;
}

.bio {
  margin-bottom: 20px;
}

.bio TextField{
  height: 80px;
}
/* .bio input{
  width: 500px;
  height: 80px;
} */

label#logoCompany {
  margin-bottom: 20px;
  border: 1px dashed #ddd;
  cursor: pointer;
  height: 220px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label#logoCompany input {
  display: none;
}

label#logoCompany.has-logoCompany {
  border: 0;
}

label#logoCompany.has-logoCompany img{
  display: none;
}