.dev-card {
  min-height: 308px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title-techs-langs strong{
  display: flex;
}

.title-techs-langs span{
  display: flex;
}

.card-body {
  margin-bottom: 20px;
}

.lang-tech{
  margin-top: 30px;
}

.avatar {
  display: flex;
}

.MuiCardActions-spacing {
  padding: 50px;
}

span {
  padding: 3px;
}

.card-content {
  flex: 1 1 auto;
}

.max {
  margin-top: 10px;
}