.logo-bar img{
  width: 100px;
  margin-right: 80px;
}

.quit button{
  padding-right: 185px;
  width: 300px;
  text-align: center;
}

.icon-quit {
  margin-right: 35px;
}

.PrivateTabIndicator-colorSecondary-158 {
  background-color: #8A29BE !important;
}
.PrivateTabIndicator-colorSecondary-151 {
  background-color: #8A29BE !important;
}

.MuiToolbar-gutters {
  display: flex;
  justify-content: space-between;
}