.root {
  max-width: 300px;
}

.title-techs-langs strong{
  display: flex;
}

.title-techs-langs span{
  display: flex;
}

.comp-city span{
  display: flex;
}

.MuiCardActions-spacing {
  padding: 50px;
}